$main-blue: #0264a3;

.checkbox:checked + .burger > .burger__line{
    border-bottom: 2px solid transparent;
}
.checkbox:checked + .burger > .burger__line:after{
    transform: rotate(-45deg);
    top: 0;
}
.checkbox:checked + .burger > .burger__line:before{
    transform: rotate(45deg);
    top: 0;
}


.header-top{
    background-color: $main-blue;

.checkbox{
    display: none;
}


.burger{
    
    height: 45px;
    width: 45px;
border: 2px solid white;
box-sizing: border-box;
border-radius: 4px;
align-items: center;
justify-content: center;
display: none;
cursor: pointer;
@media screen and (max-width: 1199px){
    display: flex;
}

&__line{
    transition: .4s;
    border-bottom: 2px solid white;
    width: 30px;
    height: 2px;
    position: relative;

    &::after{
        transition: .4s;
        content: '';
        position: absolute;
        top: 7px;
        border-bottom: 2px solid white;
        height: 2px;
        width: 30px;

    }
    &::before{
        transition: .4s;
        content: '';
        position: absolute;
        top: -7px;
        border-bottom: 2px solid white;
        height: 2px;
        width: 30px;
    }
}
}
    .nav{
    height: 50px;
    @media screen and (max-width: 1199px){
        display: none;
    }

            &__item{
                margin-right: 60px;
                height: 100%;
               

                    &-link{
                        color: white;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;
                        border-bottom: 3px solid transparent;
                        
                        &:hover{
                                text-decoration: none;
                                border-bottom: 3px solid #e00101;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                }
            }
    }
}
.header-nav{
    display: flex;
    height: 65px;
    align-items: center;
    margin: 20px 0;

    &__logo{
        margin-right: 20px;
    }
    &__item{
        margin-right: 25px;
        margin-top: 12px;
    }
    &__social{
        display: flex;
        align-items: center;

        &-group{
            margin-left: 18px;
            width: 71px;
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
        }
        &-email{
            margin-right: 12px;
        }
    }
    &__phones{
        width: 180px;
        height: 42px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0 15px;
        font-size: 16px;
    }
    &__button{
        background-color: #e00101;
        color: white;
        font-weight: 600;
        width: 224px;
        height: 44px;
        outline: none;
        border: none;
        &:hover{
            animation-name: buttonAnimation;
            animation-duration: 2s;
        }
    }
}
@keyframes buttonAnimation {
/*from{
    background-color: #0264a3;
}
to{
    background-color: greenyellow;
}*/
0%{
    transform: rotate(-15deg);
}
5%{
    transform: rotate(0);
}
10%{
    transform: rotate(15deg);
}
20%{
    transform: rotate(-15deg);
}
30%{
    transform: rotate(0);
}
40%{
    transform: rotate(15deg);
}
60%{
    transform: rotate(-150deg);
}
80%{
    transform: rotate(0);
}
100%{
    transform: scale(3.5);
    perspective: 1500px;
}





}